nav {
    background-color: #002638;
    padding: 15px 0;

  }
  
 ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 150px;
  }
  
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
   
    }
  
a:hover {
    color: white;
    background-color: #4dc3ff;
  }
body{
    background-color:  #467a94;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    
}
aside {
    background-color: #355f74;
    display: inline-block;
    width: 20%;
    height: 700px;
}
section{
    background-color: #467a94;
    display: inline-block;
    width: 80%;
    text-align: center;   
}
footer{
    background-color: #002638;
    height: 90px;
    text-align: center;
}
aside li{
    margin-top: 25px;
    margin-left: 5px;
}
.vid{
    width: 70%;

}